@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

/* utility */

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Hero Section */
.hero-bg-img {
  height: 100vh;
  background-image: url(./img/roman-denisenko--_zjVVx097U-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.5);
}

#hamburger {
  display: none;
}

/* navbar */

nav {
  padding: 20px 0;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: #f0c330;
}

.logo {
  color: white;
}

/* hero text */
.hero-text {
  position: absolute;
  top: 25%;
  width: 25%;
  color: white;
  margin-left: 20px;
}

.hero-text h1 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn-hero {
  display: inline-block;
  margin-top: 20px;
  background-color: white;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-hero:hover {
  background-color: black;
  color: white;
}

/* about  */

.about,
.vision {
  margin-top: 50px;
  margin-bottom: 50px;
}

.about-text {
  width: 50%;
  padding: 0 20px;
  margin-right: 10%;
  margin-bottom: 10%;
}

.about-text h2,
.vision-text h2 {
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn-section {
  display: inline-block;
  margin-top: 20px;
  background-color: black;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-section:hover {
  background-color: white;
  color: black;
}

.about-img {
  background-image: url(./img/tim-toomey-Myzea1GthfA-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.5);
  width: 50%;
  height: 800px;
}

/* vision */
.vision-text {
  width: 50%;
  padding: 0 20px;
  margin-left: 10%;
  margin-bottom: 10%;
}

.vision-img {
  background-image: url(./img/vincent-timothy-AFwVLtJnS3M-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 50%;
  height: 800px;
}

/* work */
.work {
  margin-top: 150px;
  margin-bottom: 50px;
  background-image: url(./img/i-am_nah--S4OsO0c6Ts-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
}

.work h2 {
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 20px;
  padding-top: 20%;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  text-align: center;
}

.work-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}


.work-grid-item {
  padding: 20px;
  color: white;
}

.work-grid-item h3 {
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.work-grid-item h4 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* behind the lens */

.behind-lens {
  margin-top: 150px;
  margin-bottom: 50px;
}

.behind-lens-text {
  width: 50%;
  padding: 0 20px;
  margin-right: 10%;
  margin-bottom: 10%;
}

.behind-lens-text h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.behind-lens-img {
  background-image: url(./img/david-frye-Dz0dZ7gBg3s-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 50%;
  height: 800px;
}

/* gallery */

.gallery {
  margin-top: 150px;
  margin-bottom: 50px;
}

.gallery h2 {
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 40px;
  grid-template-areas:
    "item1 item2 item3 item4"
    "item5 item6 item7 item8";
}

.gallery-grid-item {
  grid-area: item1;
  background-image: url(./img/gallery/ashutosh-singh-rana-iOSlZd9kBG8-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 300px;
}

.gallery-grid-item:nth-child(2) {
  grid-area: item2;
  background-image: url(./img/gallery/austin-lowman-4zjpCpfZasI-unsplash.jpg);
}

.gallery-grid-item:nth-child(3) {
  grid-area: item3;
  background-image: url(./img/gallery/ivan-kazlouskij-eJnfIuikVZo-unsplash.jpg);
}

.gallery-grid-item:nth-child(4) {
  grid-area: item4;
  background-image: url(./img/gallery/joseph-agboola-k_PT_Mqrp3c-unsplash.jpg);
}

.gallery-grid-item:nth-child(5) {
  grid-area: item5;
  background-image: url(./img/gallery/mohammad-kashkooli-dCTQi7aco1I-unsplash.jpg);
}

.gallery-grid-item:nth-child(6) {
  grid-area: item6;
  background-image: url(./img/gallery/mohammad-kashkooli-xZw5JKtuBKs-unsplash.jpg);
}

.gallery-grid-item:nth-child(7) {
  grid-area: item7;
  background-image: url(./img/gallery/owaiz-raiyan-rEBni0CgoHE-unsplash.jpg);
}

.gallery-grid-item:nth-child(8) {
  grid-area: item8;
  background-image: url(./img/gallery/unterirdischer-mann-iLmemc7BzDk-unsplash.jpg);
}

.gallery-grid-item:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.gallery p {
  margin: 20px;
  text-align: center;
}

.gallery-btn {
  text-align: center;
}

/* contact */

.contact-form {
  margin-top: 150px;
  margin-bottom: 50px;
}

.contact-form h2 {
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.contact-form form {
  padding: 20px;
  margin: 0 auto;
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.contact-form textarea {
  height: 200px;
}

.contact-form input[type="submit"] {
  width: 200px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.contact-form input[type="submit"]:hover {
  background-color: white;
  color: black;
}

.contact-img {
  background-image: url(./img/roman-denisenko--_zjVVx097U-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 50%;
  height: 800px;
}



/* footer */

footer {
  background-color: black;
  color: white;
  padding: 50px;
  text-align: center;

}

footer h2 {
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer-flex-container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.footer-flex-container ul li {
  margin-bottom: 10px;
}

.footer-flex-container ul li a {
  display: block;
  color: white;
  text-decoration: none;
}

.footer-flex-container ul li a:hover {
  text-decoration: underline;
  color: #f0c330;
}

.footer-social {
  display: flex;
  align-items: center;
}

.footer-social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
}

.social-icons img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.footer-social-icons img {
  margin-right: 10px;
}

/* media queries */

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  #hamburger {
    display: block;
  }

  .hero-bg-img {
    height: 100vh;
  }

  .hero-text h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .hero-text p {
    font-size: 12px;
  }

  .hero-text {
    width: 100%;
    text-align: center;
  }

  nav ul {
    display: none;
  }



  /* section about */

  .about {
    flex-direction: column;
  }

  .about-text,
  .vision-text {
    width: 100%;
  }

  .about-img,
  .vision-img {
    width: 100%;
  }


  /* section vision */

  .vision {
    flex-direction: column-reverse;
  }

  /* work */
  .work {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 250vh;
  }

  .work h2 {
    font-size: 30px;
  }

  .work-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "item1"
      "item2"
      "item3"
      "item4";
  }

  .work-grid-item {
    text-align: center;
  }


  /* behinde the lens */

  .behind-lens {
    flex-direction: column;
  }

  .behind-lens-text {
    width: 100%;
  }

  .behind-lens-img {
    width: 100%;
  }

  /* gallery */
  .gallery {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .gallery h2 {
    font-size: 30px;
  }

  .gallery-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
      "item1"
      "item2"
      "item3"
      "item4"
      "item5"
      "item6"
      "item7"
      "item8";
  }

  .gallery-grid-item {
    text-align: center;
  }



  /* contact */

  .contact .flex-container {
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;

  }

  .contact-img {
    width: 100%;
    height: 600px;
  }





}